.cardLegacy {
  margin: var(--xb-l-l);
  max-width: 752px;
  min-height: 216px;
  font-size: var(--font-s);
  font-weight: 500;
  line-height: 130%;
  border: none;
  color: var(--primary-light-9);
}
@media screen and (max-width: 670px) {
  .cardLegacy {
    margin: var(--xb-m-l);
  }
  .cardLegacy :global .ant-card-body {
    padding: var(--txb-l-m-m);
  }
}

.cardsActions .cardLegacy {
  margin-bottom: var(--m);
  min-height: unset;
  font-size: var(--font-m);
  color: var(--title-85);
}

.cardAction {
  display: flex;
  flex-direction: column;
  min-width: 240px;
}
@media screen and (max-width: 1010px) {
  .cardAction {
    max-width: 240px;
    min-width: 182px;
    width: 100%;
  }
  .cardAction :global .ant-card-head-title {
    text-align: left;
    white-space: pre-wrap;
    font-size: var(--font-s);
  }
}

.cardsActionsList {
  margin: var(--xb-l-l);
  display: flex;
  gap: var(--m);
  max-width: 100%;
}
.cardsActionsList :global .ant-card-head-wrapper {
  text-align: center;
}
.cardsActionsList :global .ant-card-head {
  padding: var(--xy-xs-xl);
}
.cardsActionsList :global .ant-card-head-title {
  padding: 0;
}
.cardsActionsList :global .ant-card-body {
  padding: var(--y-s);
}
.cardsActionsList :global .ant-btn {
  color: var(--primary-light-6);
  width: 100%;
  text-align: center;
  padding: 0;
}
.cardsActionsList :global .ant-btn .anticon {
  color: var(--primary-light-6);
}
.cardsActionsList :global .ant-btn .anticon-calendar path {
  fill: var(--primary-light-6);
}
@media screen and (max-width: 670px) {
  .cardsActionsList {
    flex-direction: column;
    margin: var(--xb-m-l);
    gap: var(--xxs);
  }
  .cardsActionsList .cardAction {
    min-width: unset;
    max-width: unset;
  }
  .cardsActionsList :global .ant-card-head-title {
    text-align: center;
  }
}
