.footer{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    min-height: 283px;
    margin: var(--xb-xl-xxl);
    box-sizing: border-box;

    @media screen and (max-width: 1010px) {
        min-height: 364px;
    }

    @media screen and (max-width: 670px) {
        flex-direction: column;
        min-height: unset;
        margin: var(--xb-m-xxl);
        gap: var(--xl);
        :global{
            .ant-card{
                width: 100%;
            }
        }
    }

    .footerBtn{
        margin-bottom: var(--es);
        padding-bottom: 0;

        font-size: var(--font-s);

        color: var(--primary-light-6);
        @media screen and (max-width: 670px) {
            width: 100%;
            order: 2;
        }
    }
    .extra{
        text-align: left;
    }
    :global{
        .ant-card{
            width: 240px;
            @media screen and (max-width: 670px) {
                width: 100%;
                .ant-card-head-wrapper{
                    justify-content: center;
                }
            }
        }
        .ant-card-head{
            padding: var(--xy-xxs-xl);
        }
        .ant-card-extra{
            padding: 0;
            margin-left: 0;
            .ant-btn{
                padding: 0;

                font-size: var(--font-s);
                line-height: var(--lh-default);

                color: var(--primary-light-6);
            }
        }

        .ant-card-body{
            padding: var(--y-ssm);
            .ant-btn{
                width: 50%;
                padding: 0;
            }
        }
    }
}


