.mainMenu{
    margin: 0;
    :global{
        .ant-menu-item{
            font-size: var(--sm);
            height: var(--xxl);
            svg{
                color: var(--primary-light-10);
                path{
                    fill: var(--primary-light-10);
                }
            }
        }
        .ant-menu-item:not(:last-child){
            margin-top: 0;
            margin-bottom: var(--m);
            overflow: unset;
        }
        .ant-menu-item:last-child{
            margin-bottom: 0;
            margin-top: 0;
        }
        .ant-menu-title-content{
            color: var(--title-85)
        }

        .ant-menu-item-selected{
            border-right: 4px solid var(--primary-light-5);
        }

        @media screen and (max-width: 750px) {
            .ant-menu-item{
                padding: 0;
            }
        }
    }
}


